@use "../../../variables";

#listChannels {
	border-radius: variables.$border-radius-big;
	background: white !important;
	position: sticky;
	border: 0.1rem solid #f9f9f9 !important;
	padding: 0px !important;
	margin: 0px !important;
	height: 100% !important;
}

#channel--col {
	border-radius: variables.$border-radius-big;
	padding: 0px !important;
	margin: 0px !important;
	border: 0.1rem solid #f9f9f9 !important;
	text-align: center;
}

.quick--actions {
	font-family: variables.$basic-font;
	font-size: 14px;
}

.title--channel--col {
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid grey;
	padding: 0px !important;
	margin: 0px !important;
	border: 0.1rem solid #f9f9f9 !important;
	position: sticky;
	background: #f9f9f9 !important;
	color: black;
}

.add-channel-a {
	background: #f9f9f9 !important;
	border: #f9f9f9 !important;
}

#createchannel-button {
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid #f9f9f9;
	position: sticky;
	margin: 0px !important;
	position: sticky;
}

.channels-title {
	font-family: variables.$big-font;
	padding-top: 10px;
	height: 45px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 2px !important;
	font-size: 12px;
	border-radius: 0px !important;
	margin: 0px;
}

#send--dm,
#display--channels {
	border-radius: variables.$border-radius-big;
	width: 100% !important;
	height: 100% !important;
	background-color: #025d93 !important;
	font-weight: 900;
	position: sticky;
	font-size: 16px !important;
	margin: 0px !important;
	font-family: variables.$basic-font;
	color: white;
	border: 0.1rem solid #f9f9f9 !important;
}

.displaying-div {
	border-radius: variables.$border-radius-big;
	margin: 10px !important;
	overflow-y: scroll;
	height: 75% !important;
	width: 95% !important;
	position: absolute;
	scrollbar-color: rgb(119, 119, 119) rgb(174, 174, 174);
	scrollbar-width: thin;
}

.send--dm_div {
	position: absolute;
	width: 100% !important;
	bottom: 10px;
}

#list--channels--title {
	color: black;
	font-family: variables.$big-font;
	margin-top: 10px;
	margin-bottom: 15px;
	text-align: justify;
}

.selected--categorie,
.quick--add {
	font-size: 10px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	font-family: variables.$big-font;
	background-color: #f9f9f9 !important;
	color: 0.1rem solid #f9f9f9 !important;
}


.no_message {
	font-size: 12px;
	padding: 10px;
}