@use "../../variables";

//TODO: faire un cercle pour le rendre "imparfait"
#test,
video {
  background-color: black !important;
  // position: absolute;
  // top: 10%;
  // left: 20%;
}

#welcome--video-div {
  background-color: black !important;
  margin-top: 2%;
  // clip-path: polygon(0 50%, 100% 0, 100% 50%, 0 100%);
  // position: relative;
}

#authors--ul {
  margin-left: 5%;
  margin-top: 5%;
  font-size: 25px;
}

#play-button-1 {
  padding: 12px 25px;
  font-size: variables.$big-font-size;
  margin-top: 20px;
  // transform: none !important;
}
