@use "../../variables";

#test,
video {
  background-color: black !important;
  padding-left: 40%;
}

#welcome--video-div {
  background-color: black !important;
  margin-top: 2%;
}

#authors--ul {
  //margin-left: 5%;
  //margin-top: 5%;
  font-size: 25px;
  //position: relative;
  position: absolute;
  top: 35%;
  //transform: translateY(-50%);
}

#play-button-1 {
  padding: 12px 25px;
  font-size: variables.$big-font-size;
  margin-top: 20px;
}

#test {
  color: white !important;
  text-align: left !important;
}
