@use "../../variables";

#test,
video {
  background-color: black !important;
  padding-left: 40%;
}

#welcome--video-div {
  background-color: black !important;
  margin-top: 2%;
}

#authors--ul {
  font-size: 25px;
  position: absolute;
  top: 35%;
}

#play-button-1 {
  padding: 15px;
  font-family: variables.$basic-font;
  font-size: 20px;
  font-weight: 900;
  margin-top: 20px;
  border-radius: variables.$border-radius;
  position: absolute;
  top: 50%;
  width: 5%;
}

#test {
  color: white !important;
  text-align: left !important;
}
