@use "../../variables";

#profile-title {
	//color: white !important;
	color: black !important;
}

//#profile--div {
//	//background-color: white;
//	border-radius: variables.$border-radius;
//}

#main--profile--div {
	margin-top: 50px;
	width: 75% !important;
	background-color: white;
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid #f9f9f9;
	padding: 45px;
	//border: 0.1rem solid red;
}

#profile--pic {
	border: 0.1rem solid #f9f9f9;
}

#profile--div > .log--color {
	//text-align: right !important;
	//margin-top: -50px !important;
	//border: 0.1rem solid red !important;
	margin-left: -8.5%;
	margin-top: -6.5%;
}

#relations {
	color: black !important;
	font-family: variables.$basic-font;
}

.profile--type {
	font-size: 14px !important;
}

#text-type {
	font-family: variables.$basic-font;
	color: black !important;
}

#relations > button {
	font-size: 12px !important;
	font-family: variables.$basic-font !important;
	width: 100px !important;
}

.sr-only {
	color: black !important;
}
