@use "../../variables";

#matchhistory--div {
  border-radius: variables.$border-radius-big;
  padding: 20px;
  width: 50%;
  margin-left: 25%;
}

#matchhistory--title {
  //text-decoration: underline;
  //color: white !important;
  font-family: variables.$basic-font;
  color: black !important;
}

#matchhistory--div
{
  margin-top: 10px !important;
}

#matchhistory--title {
  margin-bottom: 10px !important;
}

//#col--matchhistory {
//  border: 0.1rem solid #f9f9f9;
//}
