@use "../../variables";

#matchhistory--div {
  border-radius: variables.$border-radius-big;
  padding: 20px;
}

#matchhistory--title {
  //font-family: variables.$basic-font;
  font-family: variables.$big-font;
  font-size: 14px;
  color: black !important;
}

#matchhistory--div
{
  margin-top: 10px !important;
}

#matchhistory--title {
  margin-bottom: 10px !important;
}

#no--game {
  font-family: variables.$basic-font;
}

//.main--button--resume {
//  width: 80% !important;
//}
