@use "../../../variables";

.text, #displaying {
	color: black !important;
}

#displaying {
	font-family: variables.$big-font;
	text-align: center;
	//text-decoration: black wavy underline;
}

#container--all {
	background-color: white !important;
	border-radius: variables.$border-radius;
	padding: 10px !important;
}

#list--users--ul > * {
	color: black !important;
	font-family: variables.$basic-font;
}

#list--users--ul
{
	overflow-y: scroll;
	width: 95%;
}

#row--users {
	margin-left: 5%;
}

#list--users--ul {
	border-radius: variables.$border-radius;
	padding-bottom: 40px;
}

#registered--title {
	font-size: 12px;
	margin-bottom: 25px;
}
