@use "../../../variables";

.text, #displaying {
	//color: white !important;
	color: black !important;
	//font-family: variables.$big-font;
	//padding: 5px;
}

#displaying {
	font-family: variables.$big-font;
	text-align: center;
	text-decoration: black wavy underline;
}

#container--all {
	background-color: white !important;
	border-radius: variables.$border-radius;
	padding: 10px;
}

#list--users--ul > * {
	color: black !important;
	font-family: variables.$basic-font;
	//padding-left: 10px !important;
	//padding-right: 10px !important;
	//display: inline;
}

#list--users--ul
{
	overflow-y: scroll;
	//margin-bottom: 30px !important;
	width: 95%;
	//margin-right: 25px !important;
}

#row--users {
	//border: 0.1rem solid black;
	//padding-right: 20px;
	margin-left: 5%;
}

//#ul--list {
//	border: 0.1rem solid red;
//}

#list--users--ul {
	border: 0.1rem solid grey;
	border-radius: variables.$border-radius;
	padding-bottom: 40px;
	//margin-right: 20px;
}

#registered--title {
	font-size: 12px;
	margin-bottom: 25px;
}
