@use "../../../variables";

#container--invitations_sent {
	background-color: white !important;
	position: sticky;
	border-radius: variables.$border-radius;
	padding: 10px !important;
	margin-top: 35px !important;
}

#displaying--invitations_sent {
	font-family: variables.$big-font !important;
	font-size: 12px !important;
}


#row--users_invitations_sent {
	display:grid;
	grid-template-rows: 7;
	margin-left: 5%;
}
