@use "../../../variables";

#ListParticipant {
	border-radius: variables.$border-radius-big;
	background: white;
	color: black;
	position: sticky;
	border: 0.1rem solid #f9f9f9;
}

#participant--title {
	font-size: 12px;
	background: #f9f9f9;
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid #f9f9f9;
	position: sticky;
	height: 40px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 35px;
}

#sub--div {
	overflow-y: scroll;
	max-height: 80%;
	min-height: 80%;
	text-align: center !important;
	align-items: center !important;
	margin: 5px !important;
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big;
}

//boutons solo horizontal
#invite--button, #admin--buton, #leave--button, #kick--button {
	border-radius: variables.$border-radius-big;
	width: 100%;
	position: sticky;
	margin-top: 2px !important;
	color: white !important;
	width: 98% !important;
	margin-left: 3px !important;
}

//Boutons duo horizontal
#row--buttons_chat, #row--buttons_chat > *, #row--buttons_danger, #row--buttons_danger > *,
#row--buttons_invite, #row--buttons_invite > *,  #row--buttons_admin, #row--buttons_admin > *
{
	margin: 0.5px !important;
	padding: 3px !important;
	border-radius: variables.$border-radius-big !important;
}

#players-channel-button, #players-dm-button
{
	width: 100% !important;
	margin: 0.1px !important;
	position: sticky;
	border-radius: variables.$border-radius-big !important;
}

#roles--title {
	margin-bottom: 20px;
	font-size: 12px;
}

#roles > *:not(h3) {
	font-family: variables.$basic-font;
	font-size: 12px;
}

.p--participants {
	font-size: 12px;
}

#roles--title{
	font-size: 12px;
}
