#header--nav, #header-nav > * {
    height: 45px;
    padding-top: 10px;
    background-color: black !important;
    color: white !important;
    background-image: none ! important;
    font-family: "Press Start 2P", cursive !important;
}