@use "../../variables";

#search--title {
	margin-top: 25px;
	color: white !important;
}

#search--input {
	width: 80%;
	height: 50px;
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid white !important;
}

#searchbox--div {
	margin-top: 25px;
	background-color: white !important;
	position: sticky;
	padding-top: 25px;
	padding-bottom: 20px;
	border-radius: variables.$border-radius-big;
	padding-right: 25px;
}

#searchbox--div:hover, #searchbox--div:active, #searchbox--div:focus {
	border-color: 0.1rem solid white !important;
}

#loop {
	margin-top: 15px;
	float: right;
	padding-right: 10px;
	transform: scale(2);
}
