@use "../../../variables";

//TODO: faire des regles plus generiques pour le texte
#typing--title {
	//color: white !important;
	//background-color: white !important;
	font-family: variables.$basic-font;
	padding-top: 10px;
	margin-bottom: 2.5rem;
}

#typing--div {
	border: 0.1rem solid white;
	//margin-top: 20px;
	//padding-left: 40px;
	//padding-right: 40px;
	//padding-top: 10px;
	//padding-bottom: 20px;
	border-radius: variables.$border-radius;
	background-color: white !important;
}

.typing--input {
	border-radius: variables.$border-radius;
	//cursor: pointer;
	//border: 0.1rem solid white !important;
}

#send--button {
	padding: 10px;
	float: right;
}


//Nesting for children CSS selectors
#typing--div > * {
	color: black !important;
}

.send-message-form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;
	button {
		margin-left: 1rem;
	}
}
