@use "../../../variables";

#typing--title {
	font-family: variables.$basic-font;
	padding-top: 10px;
	margin-bottom: 2.5rem;
}

.typing--input {
	border-radius: variables.$border-radius;
}

#typing--div {
	color: rgb(1, 1, 1) !important;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	position: absolute; 
	width: 100% !important;
	bottom: 10px;
}

.send-message-form {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: baseline;

	button {
		margin-left: 1rem;
	}
}
