@use "../../variables";

.card {
    width: 18rem !important;
    margin: 20px !important;
    //border-radius: variables.$border-radius;
    background-color: variables.$grey;
}

//#group--one {
//    background-color: variables.$grey;
//    //border-radius: variables.$border-radius;
//}

.card-text {
    color: black !important;
}

#achievement {
    border-radius: variables.$border-radius;
    background: white !important;
}

#achievements > *, .card, .card-group {
    border-radius: variables.$border-radius !important;
}

.achievements--img {
    margin: 10px !important;
}

.card-title {
    font-family: variables.$big-font;
    font-size: 16px;
    text-align: center;
    color: black !important;
    margin-top: 10px;
}

.card-disabled {
    background-color: variables.$grey;
}

.card-text {
    font-family: variables.$basic-font;
    text-align: center;
    font-size: 20px;
}

.achievements--img {
    display: flex;
    float: right;
}

#achievements--title {
    color: white !important;
    margin-top: 25px;
    margin-bottom: 25px;
}
