/* TODO: faire des regles en fonction des tailles d ecran ? */
#auth-form-div {
  position: absolute;
  width: 75%;
  margin-top: 20%;
  margin-left: 7.5%;
  /* border: 0.1rem solid red; */
}

#auth--form {
  /* border-radius: 50% 20% / 10% 40%; */
  border-radius: 10px;
  border: 0.1rem solid white;
  /* #e2eaec; */
  /* width: 1000px; */
  background-color: white !important;
  /* box-shadow: 2.5px 2.5px 2.5px #98a0a1; */
  padding: 25px;
  /* box-shadow: 10px black; */
}

#contour {
  border: 0.2 rem solid green;
}

#forms-auth,
.forms {
  width: 80%;
  margin: 15px;
  /* border: 1rem dashed blue; */
}

#auth-btn-1,
#auth-btn-2,
#auth-btn-3,
#signup {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  /* position: absolute; */
  border-radius: 5px;
  /* background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  overflow: hidden; */
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  
  /* background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear; */
}

/* @keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
} */

#show_password {
  border: 1rem solid red;
}

#show-password {
  font-weight: 700;
  /* margin-bottom: 20px; */
  padding-bottom: 12px;
  text-align: right;
  cursor: pointer;
}

#password-form {
  /* border: 0.1rem solid blue; */
  width: 100%;
}

/* #show-password-3 {
  margin-bottom: 27px;
} */

#connect-p {
  margin-bottom: 75px;
}

#auth-container > * {
  font-family: 'Lato';
}

/* Animation des boutons - a mettre dan un fichier comment du style */
button {
  transform: scale(1);
  transition-property: tranform;
  border-radius: 0.5rem !important;
  transition-duration: 3000ms !important;
}

button:hover {
  transform: scale(1.05);
  /* font-weight: 800; */
}

/* TODO: revoir pour le background pour faire une nouvelle vague ou quelque chose autre joli */
#se-connecter {
  margin-top: 20px;
}