#auth-form-div {
  position: absolute;
  top: 20%;
  left: 15%;
  width: 75%;
}

#auth--form {
  /* border-radius: 50% 20% / 10% 40%; */
  border-radius: 10px;
  border: 0.1rem solid #e2eaec;
  /* width: 1000px; */
  background-color: white !important;
  box-shadow: 2.5px 2.5px 2.5px #98a0a1;
  /* box-shadow: 10px black; */
}

/* .line {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
  position: absolute;
} */

/* #form-auth {
  border: 1rem dashed blue;
} */

#contour {
  border: 0.2 rem solid green;
}

#forms-auth,
.forms {
  width: 80%;
  margin: 15px;
  /* border: 1rem dashed blue; */
}

#auth-btn-1, #auth-btn-2, #auth-btn-3, #signup {
  width: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  /* left: 50%;
  top: 50%; */
  /* transform: translate(-50%, -50%); */
  border-radius: 5px;
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  /* overflow: hidden; */
}

.wave {
  width: 1000px;
  height: 1025px;
  position: absolute;
  top: -25%;
  left: 50%;
  margin-left: -500px;
  margin-top: -500px;
  border-radius: 35%;
  background: rgba(255, 255, 255, 0.75);
  animation: wave 15s infinite linear;
}

@keyframes wave {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

#show_password {
  border: 1rem solid red;
}

/* Commente */
#togglePassword {
  margin: 10px;
  cursor: pointer;
}

#show-password {
  font-weight: 700;
  /* margin-bottom: 20px; */
  padding-bottom: 12px;
  text-align: right;
  cursor: pointer;
}

/* #sub-form {
  border: 0.1rem solid red;
  width: 100% !important;
} */

#password-form {
  /* border: 0.1rem solid blue; */
  width: 100%
}