@use "../../variables";

#auth-form-div {
  background-color: white !important;
  background-image: none !important;
  border-radius: variables.$border-radius;
  position: sticky;
}

#auth-btn-1,
#auth-btn-2,
#signup {
  width: 100%;
}

#auth-container {
  background-image: none !important;
}

#auth-container > * {
  font-family: variables.$basic-font;
  font-size: variables.$small-font-size;
}

#se-connecter,
#sinscrire, #jouer, #auth-container > * {
  margin-top: 30px !important;
  color: black !important;
  padding-bottom: 20px !important;
}

#auth-form-div {
  background-color: white !important;
  border-radius: variables.$border-radius;
  margin-top: 1px !important;
}

#jouer {
  text-align: center !important;
  margin-bottom: 5px !important;
  font-family: variables.$big-font;
  font-size: 12px !important;
  margin-top: 0px !important;
}

#auth-container > input {
  padding: 0px !important;
}

#form--auth1 {
  padding: 50px !important;
}
