@use "../../../variables";

//Mêmes règles de base pour les deux, seule la couleur change
.result--score_winner, .result--score_loser {
  border-radius: variables.$border-radius-big;
  width: 100% !important;
  text-align: center !important;
  font-weight: variables.$bold;
  z-index: 2;
  margin-top: 10px;
  padding: 5px;
  box-shadow: 0.1px 0.1px #f9f9f9, -0.1em 0 .4em #f9f9f9;
  font-size: 12px !important;
  font-family: variables.$basic-font !important;
  color: black !important;
  position: sticky;
}

.result--score_winnner {
  border: 0.2rem solid #469536 !important;
}

.result--score_loser {
  border: 0.2rem solid #ff4040 !important;
}

#buttoresumee--result > .text {
  font-family: variables.$basic-font !important;
  color: white !important;
}


.score, .winner, .looser, #scores, .text {
  font-size: 14px;
  font-family: variables.$basic-font !important;
}

.result--score {
  font-size: 16px !important;
}

.results {
  font-size: 18px !important;
  font-weight: 900 !important;
}
