@use "../../../variables";

//span {
// // color: white !important;
//  //color: #f9f9f9;
//  margin-top: 15px;
//}

#buttonresume--result {
  background: white !important;
  border-radius: variables.$border-radius-big;
  width: 800px !important;
  min-height: 50px;
  text-align: center !important;
  font-weight: variables.$bold;
  z-index: 2;
  margin-top: 20px;
  padding-top: 10px;
  border: 0.1rem solid #f9f9f9;
  box-shadow: 3px 3px #f9f9f9, -0.1em 0 .4em #f9f9f9;
}

.winner {
  color: variables.$green;
}

.looser {
  color: variables.$red;
}

.score, .winner, .looser, #scores, .text {
  color: black !important;
  font-size: 18px;
}

//#buttonresume {
//  margin-top: 15px !important;
//  border: 0.1rem solid #f9f9f9;
//}
