@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
}

.home,
.reports,
.products {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  color: beige;
}

h1, h2, h3 {
  font-family: 'Bree Serif', serif;
}

input:hover{
  /* border: 1px solid #6300a0 !important; */
  transition: background-color 500ms;
}

input:hover:invalid {
  background-color: #b20a37;
  border: 1px solid #b20a37 !important;
  color: #fff !important;
}

input:hover:valid {
  background-color: #93F895;
  border: 1px solid #93F895 !important;
  color: #fff;
}

button {
  transform: scale(1);
  transition-property: tranform;
  border-radius: 0.5rem !important;
  transition-duration: all 300ms !important;
}

button:hover {
  transform: scale(1.025);
  /* background-color: #6300a0 !important;
  border: 1px solid #6300a0 !important; */
  background-image: linear-gradient(to right, #e66465, #9198e5) !important;
  border: 1px solid white !important;
  color: white !important;
}