@use "../../variables";

.App {
  width: 100% !important;
  height: 100% !important;
}

//style css génériques app dans index.scss 

#main {
  //border: 0.2rem solid red !important;
  height: 100% !important;
}
