@use "../../../variables";

#change--username {
	font-size: 14px !important;
	border: 0.1rem solid grey !important;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-right: 10px !important;
	padding-left: 10px !important;
}
