@use "../../../variables";

#badge--div {
  border-radius: variables.$border-radius-big;
  color: black !important;
}

#badge--div--sub {
  border-radius: variables.$border-radius-big;
  background: white !important;
  border: 0.1rem solid black !important;
}

#badge--graph, #badge--wins {
  padding: 20px;
}


#badge {
  margin-top: 30px;
}

#graph-title,  #badge--title, #p--wins, #badge--stats > *, .text {
  color: black !important;
  font-family: variables.$basic-font;
}

#badge--wins {
  border-radius: variables.$border-radius-big;
  max-width: 100px;
}

#badge-picture {
  border-radius: 50%;
  margin-top: 25px;
}

.badge--stats-text {
  font-family: variables.$big-font;
}

#badge--wins > * {
  color: variables.$green;
}

#badge {
  border-radius: variables.$border-radius-big;
}
