@use "../../../variables";

#badge--div {
  //border-radius: variables.$border-radius-big;
  //color: black !important;
  //background-color: #333333;
  //border-radius: black !important;
}

#badge--div--sub {
  border-radius: variables.$border-radius-big;
  border: 0.1rem solid black !important;
  background-color: #333333;
}


#badge {
  margin-top: 10px;
}

#graph-title,  #badge--title, #p--wins, #badge--stats > *, .text {
  color: white !important;
  font-family: variables.$basic-font;
  font-size: 12px;
  text-align: left;
  //background-color: #333333;
}

#badge--wins {
  border-radius: variables.$border-radius-big;
  max-width: 100px;
}

#badge-picture {
  border-radius: 50%;
  margin-top: 25px;
}

.badge--stats-text {
  font-family: variables.$big-font;
}

#badge--wins > * {
  color: green;
}

#badge {
  border-radius: variables.$border-radius-big;
  position: sticky;
  //position:absolute !important; //IDEE ne se superpose plus avec les bulles
}

.stats--h2 {
  font-family: variables.$big-font !important;
  font-size: 12px;
  color: black !important;
}
