@use "../../variables";

#friends-button,
#match-history-button {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#dashboard-buttons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.titles {
  color: white !important;
}

#dashboard-buttons > * {
  color: black !important;
}
