@use "../../variables";

#nav>* {
	margin-bottom: 20px;
	font-family: variables.$big-font;
	font-size: 12px;
	color: variables.$white;
	padding: 10px;
	padding-left: 20px;
}

#nav-bar {
	background-color: black !important;
}

.navbar--title,
.nav-item>* {
	color: white !important;
}

.navbar--title:hover {
	color: rgb(9, 194, 191) !important;
}

#logout--button {
	border: 0.1rem solid white !important;
	margin-top: 0px !important;
	font-family: variables.$basic-font;
	font-size: 12px !important;
}

.disabled-link,
.disabled-link>* {
	pointer-events: none;
	// color: red !important;
	// color: white !important;
}

#nav--title {
	padding-right: 30px;
	font-size: 28px;
	color: variables.$white;
	text-decoration: none;
}

.nav-link-text {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;

	p {
		margin: 0 1rem 0 0;
	}

	p:nth-child(2) {
		padding: 0;
		font-size: 0.9rem;
	}
}

#quick--actions {
	font-family: variables.$basic-font !important;
	font-size: 12px !important;
}

#dropdownMenuButton1,
#logout--button {
	border: 0.1rem solid white !important;
	font-size: 12px !important;
	padding: 5px !important;
	margin: 5px !important;
}

#logout--button:hover {
	color: black !important;
	border: 0.1rem solid rgb(9, 194, 191) !important;
	background-color: rgb(9, 194, 191) !important;
}

#dropdownMenuButton1:hover {
	color: black !important;
	border: 0.1rem solid rgb(9, 194, 191) !important;
	background-color: rgb(9, 194, 191) !important;
}

.navbar-collapse.collapse {
	display: block !important;
	//flex-direction: row !important;
	//flex-wrap: nowrap !important;
}