@use "../../variables";

#user--time {
  color: white !important;
}

#bonjour--user {
  margin-top: 35px !important;
}

#avatar-id {
  border-radius: 50%;
  margin-top: 25px;
  border: 0.1rem solid black;
}

#user--div--info {
  color: white !important;
}

.user--stats > * {
  color: black !important;
  text-align: left !important;
  font-family: variables.$basic-font;
  font-weight: variables.$bold;
}

.span--stats {
  color: black !important;
}
.user--stats {
  padding: 15px !important;
  background-color: white !important;
  border-radius: variables.$border-radius-big;
}

#input {
  border: 0.1rem solid black !important;
  //text-align: center;
}

#input--upload {
  //display: none;
  cursor: pointer;
}

#button--2fa {
  font-size: 12px !important;
  margin-bottom: 10px;
}

.label-file {
  color: #00b1ca;
  font-weight: bold;
  font-size: 12px !important;
  margin-bottom: 15px !important;
}

.label-file:hover {
  color: #25a5c4;
}

#user--data {
  font-size: 14px !important;
  text-align: center;
}

//#input--upload {
//  display: none;
//}

p {
  color: black !important;
  //padding-right: 10px !important;
}

input {
  color: white !important;
  margin: 10px !important;
  margin-bottom: 25px !important;
}

//.input-file-upload {
//  background-color: red !important;
//  background: red !important;
//}
