@use "../../variables";

#avatar-id {
  border-radius: 50%;
  margin-top: 10px;
  border: 0.1rem solid black;
}

.span--stats, #stats > *, #activate--2fa {
  color: black !important;
  font-size: 10px !important;
}

.user--stats {
  background-color: white !important;
  border-radius: variables.$border-radius-big;
  padding: 40px;
}

#button--2fa{
  font-size: 12px !important;
}

.label-file {
  color: black; //#00b1ca;
  font-weight: bold;
  font-size: 12px !important;
  text-align: center !important;
}

#user--data, #user--settings {
  font-size: 16px !important;
  text-align: center;
  margin-top: 10px !important;
}

input {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

#input--upload {
  cursor: pointer;
  color: black !important;
  margin-left: 25%;
  margin-right: auto;
  display: block;
}

button {
  margin-top: 15px !important;
}

#change--avatar {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 15%;
  margin-right: auto;
}

#user--settings--div {
  border: 0.1rem solid variables.$lightgrey !important; //#00b1ca;
  border-radius: variables.$border-radius-big;
  width: 75%;
}

#stats--title {
  font-family: variables.$big-font;
  font-size: variables.$mini-font-size;
}


#user--data {
  font-size: 18px !important;
}


#change--username {
  padding: 10px !important;
  border: none;
  font-size: 10px !important;
  color: black !important;
}

#change--username:hover {
  color: white !important;
}

.warning-2fa {
  color: red !important;
  font-size: 10px !important;
  margin-top: 10px !important;
}

.black--text, #change--avatar--label {
  color: black !important;
  font-size: 10px !important;
}

#check--auth {
  margin-top: 0px !important;
  margin-bottom: 20px !important;
}

.profile--pic {
	border: 0.1rem solid #f9f9f9 !important;
	padding: 5px !important;
	border-radius: variables.$border-radius;
}

img[src=""] {
  display: none;
}

#please {
  margin-top: 20px !important;
}

.test {
  color: green !important;
}

.change--username {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}

.own-profile {
  font-size: 18px !important;
  font-family: variables.$basic-font;
  font-weight: 900 !important;
}

.log--color_profile {
  margin-left: -6.5%;
	margin-top: -6.5%;
}
