@use "../../variables";


#bonjour--user {
  margin-top: 35px !important;
}

#avatar-id {
  border-radius: 50%;
  margin-top: 25px;
  border: 0.1rem solid black;
}

#user--div--info, #user--time {
  color: white !important;
}

.span--stats {
  color: black !important;
}
.user--stats {
  padding: 15px !important;
  background-color: white !important;
  border-radius: variables.$border-radius-big;
}

#input {
  border: 0.1rem solid black !important;
}

#button--2fa {
  font-size: 12px !important;
  margin-bottom: 10px;
}

.label-file {
  color: #00b1ca;
  font-weight: bold;
  font-size: 12px !important;
  margin-bottom: 15px !important;
}

.label-file:hover {
  color: #25a5c4;
}

#user--data {
  font-size: 14px !important;
  text-align: center;
}

#stats > *
{
  color: black !important;
}

input {
  margin-left: auto;margin: 10px !important;
  margin-bottom: 25px !important;
}

button {
  margin-top: 15px !important;
}

//.input-file-upload {
//  background-color: red !important;
//  background: red !important;
//}

//.user--stats > * {
//  color: black !important;
//  text-align: left !important;
//  font-family: variables.$basic-font;
//  font-weight: variables.$bold;
//}

//p {
//  color: black !important;
//  text-align: center !important;
//}

//#input--upload {
//  cursor: pointer;
//  margin-left: 100px !important;
//}
