@use '../../variables';

#currentGame {
    width: 60%;
    margin-top: 5%;
    // margin-left: 20%;
    padding: 10px;
    border-radius: 1rem;
    background-color: white !important;
}

#game-title {
    margin-top: 25px;
    color: white !important;
    font-size: 40px !important;
}