@use "../../variables";

#currentGame {
  width: 60%;
  margin-top: 5%;
  padding: 10px;
  border-radius: 1rem;
  background-color: white !important;
}

#game-title {
  margin-top: 25px;
  color: white !important;
  font-size: 40px !important;
}

#main > * {
  color: white !important;
}

.canvas-score
{
  color: white !important;
}

//#canvas {
//  padding: 10px;
//}

.text {
 color: white !important;
 font-size: 5vh !important;
}

// PONG CSS BELOW:

ul {
  list-style: none;
  padding: 0;
}

.game--li {
  display: inline-block;
}
