// Scss "global" variables
$border-radius: 4px;
$big-font: "Press Start 2P", cursive !important;
$big-font-size: 24px !important;
$basic-font: Montserrat, Arial, Helvetica, sans-serif !important; //TODO: a changer, pas joli
$small-font-size: 14px !important;
$mini-font-size: 10px !important;
$bold: 600 !important;
$border-radius: 0.2rem;
$border-radius-big: 1rem;
// $nav-font-size: px !important;
