$big-font: "Press Start 2P", cursive, Arial, Helvetica;
$big-font-size: 24px;
$basic-font: Montserrat, Arial, Helvetica, sans-serif;
$small-font-size: 14px;
$mini-font-size: 12px;
$bold: 600;
$border-radius: 0.4rem;
$border-radius-big: 1rem;
$blue: #c0dfef;
$lightgrey: #f9f9f9;
$grey: #212529;
$white: #fff;
