@use "variables";

html,
body {
  height: 100% !important;
}

body, code {
  font-family: "Arial", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000 !important;
}
