@use "../../variables";

#box {
    color: black;
    margin: 2vw;
    padding: 2vw;
    border-radius: 25px;
    display: inline-block;
}

//#content {
//    padding: 0.5vw;
//    display: block;
//}

#watch {
    padding: 5px;
}

#pong {
    font-size: 8vw;
}

#vs {
    //font-size: 1vw;
    font-size: 16px;
    font-weight: bold;
    border: grey !important;
}

.live--div {
    background: white !important;
    position: sticky;
    border-radius: variables.$border-radius-big;
    border: 0.1rem solid #f9f9f9;
    padding: 30px;
}

#titre {
    //font-size: 1vw;
    font-size: 18px;
    color: black;
    //font-weight: bold;
    font-family: variables.$big-font
    //margin-left: 20vw;
}

#dark-canvas {
    background-color: black;
    padding: 10px;
}
