@use "../../variables";

#box {
    color: black;
    border-radius: 25px;
    display: inline-block;
}

#watch {
    padding: 5px;
}

#pong {
    font-size: 8vw;
}

#vs {
    font-size: 12px !important;
    font-weight: bold;
    border: grey !important;
    font-family: variables.$basic-font !important;
    color: black !important;
}

.game {
    padding: 20px !important;
    border-radius: variables.$border-radius;
    border: 0.1rem solid #f9f9f9;
}

.watch {
    padding: 10px !important;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.99) -6px -2px 16px 0px !important;
}

#list {
    padding: 15px !important
}

#list > * {
    font-family: variables.$basic-font !important;
    font-size: 18px !important;
    color: black !important;
    font-weight: 300 !important;
    padding: 5px !important
}

.live--div {
    background: white !important;
    position: sticky;
    border-radius: variables.$border-radius-big;
    border: 0.1rem solid #f9f9f9;
    padding: 30px;
}

#titre {
    font-size: 18px;
    color: black;
    font-family: variables.$big-font
}

#dark-canvas {
    background-color: black;
    padding: 10px;
}
