@use "../../variables";

#box {
    color: black;
    margin: 2vw;
    padding: 2vw;
    border-radius: 25px;
    display: inline-block;
}

#watch {
    padding: 5px;
}

#pong {
    font-size: 8vw;
}

//Les commentaires montrent comment on peut utiliser vw plutot que px comme unité de mesure
#vs {
    //font-size: 1vw;
    font-size: 16px;
    font-weight: bold;
    border: grey !important;
}

.live--div {
    background: white !important;
    position: sticky;
    //box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.99) -6px -2px 16px 0px;
    border-radius: variables.$border-radius-big;
    border: 0.1rem solid #f9f9f9;
    padding: 30px;
}

#titre {
    //font-size: 1vw;
    font-size: 18px;
    color: black;
    //font-weight: bold;
    font-family: variables.$big-font
    //margin-left: 20vw;
}

#dark-canvas {
    background-color: black;
    padding: 10px;
}

// #dark-canvas:hover {
//     transform: scale(3);
//     transition-duration: 2s;
// }

// #dark-canvas {
//     transition-duration: 2s;
// }
