@use "../../../variables";

#joinchan-button {
	font-weight: 800 !important;
	width: 85% !important;
	border-radius: variables.$border-radius-big !important;
	margin: 2px !important;
}

#list_title {
	font-family: variables.$basic-font !important;
	font-size: 14px !important;
}

.joignable {
	font-family: variables.$basic-font !important;
	font-size: 14px !important;
	color: black !important;
	background-color: rgb(95, 193, 214);

	&:hover {
		background-color: rgb(121, 212, 224);
	}
}

.buttons {
	//width: 100%;
	//margin-left: 33%;
	//position: absolute;
	//bottom: 0;
	//height: 50px;
	//background-color: #FFF;

}


.categ {

	margin-left: 25%;
	border-color: black !important;
	position: sticky !important;
	background-color: red;
	//width: 600px;
	//position: absolute;
	//bottom: 0;
	//height: 50px;
	//background-color: #FFF;
}

/*
button+button {
	margin-left: 50%;
}
*/