@use "../../../variables";

#joinchan-button {
	font-weight: 800 !important;
	width: 85% !important;
	border-radius: variables.$border-radius-big !important;
	margin: 2px !important;
	background-color: rgb(70, 197, 197);

	&:hover {
		background-color: rgb(107, 230, 230);
	}
}

.categ-join {
	font-weight: 800 !important;
	border-radius: variables.$border-radius-big !important;
	background-color: rgb(46, 143, 143);
	margin-left: 25% !important;

	&:hover {
		background-color: rgb(44, 179, 179);
		color: white;
	}
}

#list_pub_chan {
	width: 100% !important;
	margin-left: 20px !important;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.put-on-right {
	margin-left: 85% !important;
	border-radius: variables.$border-radius !important;
	font-family: variables.$basic-font !important;
	font-size: 12px !important;
	font-weight: 100 !important;
	width: 15% !important;
}

#list_title {
	font-family: variables.$basic-font !important;
	font-size: 14px !important;
}

.joignable {
	font-family: variables.$basic-font !important;
	font-size: 12px !important;
	color: black !important;
	font-weight: 100 !important;
	background-color: rgb(95, 214, 208);
	height: 151px !important;
	width: 106px !important;
	padding: 10px !important;
	margin: 10px !important;
	border-radius: variables.$border-radius;
	
	word-break: break-all !important;

	text-align: center;

	&:hover {
		background-color: rgb(121, 224, 219);
		color: white !important;
	}
}

#chans_policy > .btn {
	width: 15% !important;
	margin: 15px !important;
	font-family: variables.$basic-font !important;
	font-size: 14px !important;
	font-weight: 100 !important;
}

.join--pub {
	margin-top: 30% !important;
}

.wrapper-2 {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.private-form {
	width: 80% !important;
	margin-left: 10% !important;
}
