@use "../../../variables";

#ListDiscussions {
	border-radius: variables.$border-radius-big;
	background: white;
	position: sticky;
	border: 0.1rem solid #f9f9f9 !important;
	//border: 0.2rem solid orange !important;
	margin-right: 2% !important;
	margin-left: 2% !important;
	height: 100% !important;
}

#ListDiscussions>* {
	color: rgb(0, 0, 0) !important;
}

#discussions--title {
	font-family: variables.$basic-font;
}

#sub--div>* {
	font-family: variables.$basic-font;
}

#message {
	color: rgb(255, 255, 255) !important;
	background-color: rgb(28, 106, 111);
	padding: 10px;
	border-radius: 25px;
	left: 10% !important;
	text-align: left;
	word-break: break-all !important;
}

#author {
	color: rgb(0, 0, 0);
}

.my-messages {
	background-color: rgb(66, 170, 177) !important;
}

.from-me {
	margin-left: 25%;
	margin-right: 2%;
}

.from-them {
	margin-right: 25%;
}

.title_chat_div {
	border-radius: variables.$border-radius-big;
	background: #f9f9f9;
	position: sticky;
}

.chat--title {
	font-size: 12px;
	font-family: variables.$big-font;
}

.chat--title_open {
	font-size: 14px;
	font-family: variables.$basic-font;
}

.chat--title,
.chat--title_open {
	text-align: center;
	padding-top: 10px !important;
}

.text_ul {
	//border: 0.2rem solid orange !important;
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big !important;
	height: 90% !important;
	position: absolute;
	overflow-y: scroll !important;
	scrollbar-color: rgb(119, 119, 119) rgb(174, 174, 174);
	scrollbar-width: thin;
	padding: 5% !important;
	width: 95% !important;
	margin-bottom: 5% !important;
}

.messages-zone {
	margin: 5px;
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big;
	scrollbar-color: rgb(119, 119, 119) rgb(174, 174, 174);
	scrollbar-width: thin;
	//display: flex;
	//flex-direction: column-reverse;
}
