@use "../../../variables";

#ListDiscussions {
	border: 0.1rem solid grey !important;
	margin-top: 20px;
	border-radius: variables.$border-radius;
	background-color: white !important;
	height: 500px;
	//overflow-y:scroll;
	//width: 500px;
	//display: block;
	//overflow:hidden;
	//overflow-x: hidden;
	//overflow-y: auto;
	//overflow : -moz-scrollbars-vertical;

}

#discussions--title {
	font-family: variables.$basic-font;
	margin-top: 15px;
}

#sub--div {
	overflow-y: scroll;
	height: 400px;
	padding: 35px;
	color: black !important
}

#sub--div > * {
	font-family: variables.$basic-font;
	//color: black !important
}
