@use "../../../variables";

#ListDiscussions {
	border-radius: variables.$border-radius-big;
	background: white;
	position: sticky;
	min-height: 740px !important;
	max-height: 740px !important;
	border: 0.1rem solid #f9f9f9 !important;
	margin-right: 2% !important;
	margin-left: 2% !important;
}

#ListDiscussions > * {
	color: black !important;
}

#discussions--title {
	font-family: variables.$basic-font;
}

#sub--div > * {
	font-family: variables.$basic-font;
}

#message {
	color: black !important;
}

.title_chat_div {
	border-radius: variables.$border-radius-big;
	border: 0.1rem solid #f9f9f9;
	min-height: 40px;
	max-height: 40px;
	background: #f9f9f9;
	position: sticky;
	//padding-top: 10px;

}

.chat--title {
	font-size: 12px;
	font-family: variables.$big-font;
}

.chat--title_open {
	font-size: 14px;
	font-family: variables.$basic-font;
}

.chat--title,  .chat--title_open {
	text-align: center;
	padding-top: 10px !important;
}

.messages-zone {
	min-height: 590px;
	max-height: 590px;
	margin: 5px;
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big;
}
