//@use "../../../../variables";

//le style a pas l'air de s'appliquer dans un modal
#create-new-channel {
	color: black !important;
}

#modal--create--channel > * {
	color: black !important;
}

.modal-body {
	color: black !important;
}

#policy--select {
	margin-bottom: 10px !important;
}

//#contained-modal-title-vcenter {
//	font-family: variables.$big-font;
//}

//#text {
//	color: black !important;
//}
//#policy--title {
//	margin-bottom: 15px !important;
//	border: 0.1rem solid red !important;
//}

//#public--policy > * {
//	background-color: aquamarine !important;
//}
