@use "../../../variables";

#settings {
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big;
	background-color: #f9f9f9;
	position: sticky;
	padding: 15px !important;
}

#qrcode {
	border-radius: 0px !important;
}

#check_code {
	width: 30% !important;
}

#check--auth {
	font-family: variables.$basic-font;
	font-size: 16px !important;
	border: 0.1rem solid grey !important;
	width: 30% !important;
}

.username-text {
	font-family: variables.$big-font;
	font-size: 12px !important;
}

#change--avatar > * {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 40% !important;
}

#change-avatar-div {
	background-color: #D3D3D3 !important;
	border-radius: variables.$border-radius !important;
	border: 0.1rem solid #D3D3D3 !important;
	padding: 20px;
}

.auth--code_settings {
	border: 0.1rem solid grey !important;
	border-radius: variables.$border-radius;
	cursor: none !important;
	height: 40px !important;
	width: 40px !important;
	text-align: center !important;
	font-size: 14px !important;
	font-family: variables.$basic-font;
	margin: 4px !important;
	padding: 2px 5px !important;
}
