@use "../../../variables";

#settings {
	border: 0.1rem solid #f9f9f9;
	border-radius: variables.$border-radius-big;
	background-color: #f9f9f9;
	position: sticky;
	border: 0.1rem solid #A9A9A9;
	padding: 15px !important;
}
