@use "../../../variables";

#auth-btn-3 {
	width: 40% !important;
	align-items: center !important;
	text-align: center !important;
	color: black !important;
	border: 0.1rem solid black !important;
	font-weight: 800 !important;
	border-radius: variables.$border-radius !important;
}


#auth-btn-3:hover {
	background-color: #DCDCDC;
}
