@use "../../variables";

#channels--tile {
	color: white;
	margin-top: 10px;
}

#websocket--tile {
	color: white;
	font-size: 12px;
	margin-top: 10px;
}

#chat--container > * {
	color: black;
	position: sticky;
}

.chat-buttons {
	padding: 8.5px;
}

.chat-container {
	display: flex;
	position: sticky;
}

.chat--messages {
	margin-left: 2rem;
	margin-right: 2rem;
	//width: 70%;
}

.channels-not-logged {
	background-color: white !important;
	border-radius: variables.$border-radius-big;
	padding: 40px;
}

#row_chat {
	margin-top: 5%;
	max-height: 90%;
}


//.chat-channel-menu {
//	background: white;
//	border-radius: variables.$border-radius;
//	//width: 20%;
//	//padding: 20px !important;
//}
