@use "../../variables";

// #channels {
//   background-color: aliceblue !important;
// }

#channels--tile {
  color: white !important;
  margin-top: 10px;
}

#websocket--tile {
  color: white !important;
  font-size: 12px !important;
  margin-top: 10px;
}
