@use "../../variables";

//* {
//	box-sizing: border-box;
//}

#channels--tile {
	color: white;
	margin-top: 10px;
}

#websocket--tile {
	color: white;
	font-size: 12px;
	margin-top: 10px;
}

#chat--container > * {
	color: black;
	.chat-channel-menu {
		background: white;	
		margin-right: 2rem;
		border-radius: variables.$border-radius;
		width: 30%;
	}
}

.chat-buttons {
	padding: 8.5px;
}

.chat-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;//Attention start génère des warnings
}

.chat--messages {
	margin-top: -1.2rem;
	margin-right: 2rem;
	width: 65%;
}
