@use "../../variables";

.mycontainer {
	background-color: white !important;
	position: sticky;
	color: black !important;
}

#row-all, #all {
	//margin-bottom: 35px !important;
	padding-bottom: 35px !important;
}
