@use "../../../variables";

.mini--display--div {
	border-radius: variables.$border-radius-big;
	margin: 10px;
	border: 0.1rem solid #f9f9f9;
	width: 140px !important;
}

#minidisplay--div > *, #mini--login, #mini--status {
	color: black !important;
}

.mini-display-li {
	text-align: center;
}

.profile--link {
	font-size: 10px;
	text-decoration: none;
}

.profile--pic {
	border: 0.1rem solid #f9f9f9 !important;
	border-radius:50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	cursor: pointer;
}

.user--p, .profile--link {
	text-align: center !important;
	font-family: variables.$basic-font;
	font-size: 12px;
	line-height: 10pt;
}

.log--color {
	text-align: right !important;
	margin-top: -200px;
}

.user--action {
	font-size: 25px;
	cursor: pointer;
	padding: 10%;
}

#mini--login {
	font-size: 14px;
}
