@use "../../../variables";

#minidisplay--div {
	//margin: 10px;
	border-radius: variables.$border-radius;
	margin: 10px;
	//width: 10% !important;
	display: inline !important;
	width: 115px !important;
}

#minidisplay--div > *, #mini--login, #mini--status {
	color: black !important;
}

.profile--link {
	font-size: 10px;
	text-decoration: none;
}
