.admin {
	height: 5px;
	width: 5px;
	margin-left: 5px;
	background-color: goldenrod;
	border-radius: 50%;
	display: inline-block;
}

.online {
	height: 5px;
	width: 5px;
	margin-left: 5px;
	background-color: greenyellow;
	border-radius: 50%;
	display: inline-block;
}

.offline {
	height: 5px;
	width: 5px;
	margin-left: 5px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

.owner {
	height: 5px;
	width: 5px;
	margin-left: 5px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}


.p--participant {
	font-size: 15px !important;
	color: black !important;
	padding: 5px;
	//border: 2px solid black;
	border-radius: 0.5rem;
	margin-bottom: 1rem;
	text-align: center;
	position: sticky !important;

	&:hover {
		background-color: rgba(170, 170, 170, 0.264) !important;
	}
}

#dropdownUser1 {
	border: 0.1rem solid white !important;
	font-size: 12px !important;
	padding: 5px !important;
	margin: 5px !important;

	&:hover {
		background-color: rgba(170, 170, 170, 0.264) !important;
	}
}

//.participant--div > * {
//	width: 100% !important;
//}
