@use '../../variables';

.footer--div, #footer--p, .footer--footer{
  background-color: black !important;
  //background: black !important;
  color: white !important;
  font-family: variables.$big-font;
  //padding: 10px;
  margin-top: 25px;
  text-align: right;
  //opacity: 1 !important;
}
